* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cffafe;
}

h1 {
  padding: 15px;
  font-size: 6em;
  font-weight: lighter;
  text-align: center;
  background-color: #083344;
  width: 100vw;
  color: white;
  border-bottom: 5px solid #0891b2;
}

#playerDisplay {
  margin-bottom: 16px;
  margin-top: 26px;
  font-size: 40px;
  font-weight: bold;
  color: #083344;
  border-radius: 12px;
}

button.square {
  display: inline-block;
  border: none;
  padding: 1rem 1rem;
  margin: 0;
  background-color: #cffafe;
  font-size: 1rem;
  margin-bottom: 6px;
  font-size: 70px;
  transition: background 150ms ease-in-out, transform 125ms ease;
}

button.square:hover {
  background-color: #ecfeff;
}

#container {
  display: grid;
  width: 480px;
  height: 480px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
  align-content: center;
  gap: 6px;
  background-color: #164e63;
  border-radius: 8px;
}

.square {
  height: 150px;
  width: 150px;
}

button.square.x-color:hover {
  background-color: #cffafe;
}

button.square.o-color:hover {
  background-color: #cffafe;
}

.x-color {
  color: #0891b2;
}

.o-color {
  color: #22d3ee;
}

#reset {
  background-color: #0891b2;
  width: 200px;
  height: 60px;
  padding-bottom: 3px;
  margin-top: 26px;
  border: none;
  border-radius: 8px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

#reset:hover {
  cursor: pointer;
  background-color: #0e7490;
}

#reset:active {
  transform: scale(.95);
}


